/*
===================================
UTILITIES - BACKGROUND
===================================
*/
.g-bg-cover {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/*
===================================
UTILITIES - BORDER
===================================
*/
.g-radius-5 {
  border-radius: 5px !important;
}
.g-round {
  border-radius: 50% !important;
}

/*
===================================
UTILITIES - BOX SHADOW
===================================
*/
.g-box-shadow {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15) !important;
}

/*
===================================
UTILITIES - BLOCK
===================================
*/
.g-block {
  background-color: #ffffff;
  display: block !important;
}

/*
===================================
UTILITIES - MARGIN
===================================
*/
.g-m-0 { margin: 0 !important; }
.g-m-5 { margin: 5px !important; }
.g-m-10 { margin: 10px !important; }
.g-m-15 { margin: 15px !important; }
.g-m-20 { margin: 20px !important; }
.g-m-25 { margin: 25px !important; }
.g-m-30 { margin: 30px !important; }
.g-m-35 { margin: 35px !important; }
.g-m-40 { margin: 40px !important; }
.g-m-45 { margin: 45px !important; }
.g-m-50 { margin: 50px !important; }
.g-m-55 { margin: 55px !important; }
.g-m-60 { margin: 60px !important; }
.g-m-65 { margin: 65px !important; }
.g-m-70 { margin: 70px !important; }
.g-m-75 { margin: 75px !important; }
.g-m-80 { margin: 80px !important; }
.g-m-85 { margin: 85px !important; }
.g-m-90 { margin: 90px !important; }
.g-m-95 { margin: 95px !important; }
.g-m-100 { margin: 100px !important; }
/*  */
.g-mx-0 { margin-left: 0 !important; margin-right: 0px !important; }
.g-mx-5 { margin-left: 5px !important; margin-right: 5px !important; }
.g-mx-10 { margin-left: 10px !important; margin-right: 10px !important; }
.g-mx-15 { margin-left: 15px !important; margin-right: 15px !important; }
.g-mx-20 { margin-left: 20px !important; margin-right: 20px !important; }
.g-mx-25 { margin-left: 25px !important; margin-right: 25px !important; }
.g-mx-30 { margin-left: 30px !important; margin-right: 30px !important; }
.g-mx-35 { margin-left: 35px !important; margin-right: 35px !important; }
.g-mx-40 { margin-left: 40px !important; margin-right: 40px !important; }
.g-mx-45 { margin-left: 45px !important; margin-right: 45px !important; }
.g-mx-50 { margin-left: 50px !important; margin-right: 50px !important; }
.g-mx-55 { margin-left: 55px !important; margin-right: 55px !important; }
.g-mx-60 { margin-left: 60px !important; margin-right: 60px !important; }
.g-mx-65 { margin-left: 65px !important; margin-right: 65px !important; }
.g-mx-70 { margin-left: 70px !important; margin-right: 70px !important; }
.g-mx-75 { margin-left: 75px !important; margin-right: 75px !important; }
.g-mx-80 { margin-left: 80px !important; margin-right: 80px !important; }
.g-mx-85 { margin-left: 85px !important; margin-right: 85px !important; }
.g-mx-90 { margin-left: 90px !important; margin-right: 90px !important; }
.g-mx-95 { margin-left: 95px !important; margin-right: 95px !important; }
.g-mx-100 { margin-left: 100px !important; margin-right: 100px !important; }
/*  */
.g-my-0 { margin-top: 0 !important; margin-bottom: 0px !important; }
.g-my-5 { margin-top: 5px !important; margin-bottom: 5px !important; }
.g-my-10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.g-my-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.g-my-20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.g-my-25 { margin-top: 25px !important; margin-bottom: 25px !important; }
.g-my-30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.g-my-35 { margin-top: 35px !important; margin-bottom: 35px !important; }
.g-my-40 { margin-top: 40px !important; margin-bottom: 40px !important; }
.g-my-45 { margin-top: 45px !important; margin-bottom: 45px !important; }
.g-my-50 { margin-top: 50px !important; margin-bottom: 50px !important; }
.g-my-55 { margin-top: 55px !important; margin-bottom: 55px !important; }
.g-my-60 { margin-top: 60px !important; margin-bottom: 60px !important; }
.g-my-65 { margin-top: 65px !important; margin-bottom: 65px !important; }
.g-my-70 { margin-top: 70px !important; margin-bottom: 70px !important; }
.g-my-75 { margin-top: 75px !important; margin-bottom: 75px !important; }
.g-my-80 { margin-top: 80px !important; margin-bottom: 80px !important; }
.g-my-85 { margin-top: 85px !important; margin-bottom: 85px !important; }
.g-my-90 { margin-top: 90px !important; margin-bottom: 90px !important; }
.g-my-95 { margin-top: 95px !important; margin-bottom: 95px !important; }
.g-my-100 { margin-top: 100px !important; margin-bottom: 100px !important; }
/*  */
.g-mt-0 { margin-top: 0 !important; }
.g-mt-5 { margin-top: 5px !important; }
.g-mt-10 { margin-top: 10px !important; }
.g-mt-15 { margin-top: 15px !important; }
.g-mt-20 { margin-top: 20px !important; }
.g-mt-25 { margin-top: 25px !important; }
.g-mt-30 { margin-top: 30px !important; }
.g-mt-35 { margin-top: 35px !important; }
.g-mt-40 { margin-top: 40px !important; }
.g-mt-45 { margin-top: 45px !important; }
.g-mt-50 { margin-top: 50px !important; }
.g-mt-55 { margin-top: 55px !important; }
.g-mt-60 { margin-top: 60px !important; }
.g-mt-65 { margin-top: 65px !important; }
.g-mt-70 { margin-top: 70px !important; }
.g-mt-75 { margin-top: 75px !important; }
.g-mt-80 { margin-top: 80px !important; }
.g-mt-85 { margin-top: 85px !important; }
.g-mt-90 { margin-top: 90px !important; }
.g-mt-95 { margin-top: 95px !important; }
.g-mt-100 { margin-top: 100px !important; }
/*  */
.g-mr-0 { margin-right: 0 !important; }
.g-mr-5 { margin-right: 5px !important; }
.g-mr-10 { margin-right: 10px !important; }
.g-mr-15 { margin-right: 15px !important; }
.g-mr-20 { margin-right: 20px !important; }
.g-mr-25 { margin-right: 25px !important; }
.g-mr-30 { margin-right: 30px !important; }
.g-mr-35 { margin-right: 35px !important; }
.g-mr-40 { margin-right: 40px !important; }
.g-mr-45 { margin-right: 45px !important; }
.g-mr-50 { margin-right: 50px !important; }
.g-mr-55 { margin-right: 55px !important; }
.g-mr-60 { margin-right: 60px !important; }
.g-mr-65 { margin-right: 65px !important; }
.g-mr-70 { margin-right: 70px !important; }
.g-mr-75 { margin-right: 75px !important; }
.g-mr-80 { margin-right: 80px !important; }
.g-mr-85 { margin-right: 85px !important; }
.g-mr-90 { margin-right: 90px !important; }
.g-mr-95 { margin-right: 95px !important; }
.g-mr-100 { margin-right: 100px !important; }
/*  */
.g-mb-0 { margin-bottom: 0 !important; }
.g-mb-5 { margin-bottom: 5px !important; }
.g-mb-10 { margin-bottom: 10px !important; }
.g-mb-15 { margin-bottom: 15px !important; }
.g-mb-20 { margin-bottom: 20px !important; }
.g-mb-25 { margin-bottom: 25px !important; }
.g-mb-30 { margin-bottom: 30px !important; }
.g-mb-35 { margin-bottom: 35px !important; }
.g-mb-40 { margin-bottom: 40px !important; }
.g-mb-45 { margin-bottom: 45px !important; }
.g-mb-50 { margin-bottom: 50px !important; }
.g-mb-55 { margin-bottom: 55px !important; }
.g-mb-60 { margin-bottom: 60px !important; }
.g-mb-65 { margin-bottom: 65px !important; }
.g-mb-70 { margin-bottom: 70px !important; }
.g-mb-75 { margin-bottom: 75px !important; }
.g-mb-80 { margin-bottom: 80px !important; }
.g-mb-85 { margin-bottom: 85px !important; }
.g-mb-90 { margin-bottom: 90px !important; }
.g-mb-95 { margin-bottom: 95px !important; }
.g-mb-100 { margin-bottom: 100px !important; }
/*  */
.g-ml-0 { margin-left: 0 !important; }
.g-ml-5 { margin-left: 5px !important; }
.g-ml-10 { margin-left: 10px !important; }
.g-ml-15 { margin-left: 15px !important; }
.g-ml-20 { margin-left: 20px !important; }
.g-ml-25 { margin-left: 25px !important; }
.g-ml-30 { margin-left: 30px !important; }
.g-ml-35 { margin-left: 35px !important; }
.g-ml-40 { margin-left: 40px !important; }
.g-ml-45 { margin-left: 45px !important; }
.g-ml-50 { margin-left: 50px !important; }
.g-ml-55 { margin-left: 55px !important; }
.g-ml-60 { margin-left: 60px !important; }
.g-ml-65 { margin-left: 65px !important; }
.g-ml-70 { margin-left: 70px !important; }
.g-ml-75 { margin-left: 75px !important; }
.g-ml-80 { margin-left: 80px !important; }
.g-ml-85 { margin-left: 85px !important; }
.g-ml-90 { margin-left: 90px !important; }
.g-ml-95 { margin-left: 95px !important; }
.g-ml-100 { margin-left: 100px !important; }

/*
===================================
UTILITIES - PADDING
===================================
*/
.g-p-0 { padding: 0 !important; }
.g-p-5 { padding: 5px !important; }
.g-p-10 { padding: 10px !important; }
.g-p-15 { padding: 15px !important; }
.g-p-20 { padding: 20px !important; }
.g-p-25 { padding: 25px !important; }
.g-p-30 { padding: 30px !important; }
.g-p-35 { padding: 35px !important; }
.g-p-40 { padding: 40px !important; }
.g-p-45 { padding: 45px !important; }
.g-p-50 { padding: 50px !important; }
.g-p-55 { padding: 55px !important; }
.g-p-60 { padding: 60px !important; }
.g-p-65 { padding: 65px !important; }
.g-p-70 { padding: 70px !important; }
.g-p-75 { padding: 75px !important; }
.g-p-80 { padding: 80px !important; }
.g-p-85 { padding: 85px !important; }
.g-p-90 { padding: 90px !important; }
.g-p-95 { padding: 95px !important; }
.g-p-100 { padding: 100px !important; }
/*  */
.g-px-0 { padding-left: 0 !important; padding-right: 0px !important; }
.g-px-5 { padding-left: 5px !important; padding-right: 5px !important; }
.g-px-10 { padding-left: 10px !important; padding-right: 10px !important; }
.g-px-15 { padding-left: 15px !important; padding-right: 15px !important; }
.g-px-20 { padding-left: 20px !important; padding-right: 20px !important; }
.g-px-25 { padding-left: 25px !important; padding-right: 25px !important; }
.g-px-30 { padding-left: 30px !important; padding-right: 30px !important; }
.g-px-35 { padding-left: 35px !important; padding-right: 35px !important; }
.g-px-40 { padding-left: 40px !important; padding-right: 40px !important; }
.g-px-45 { padding-left: 45px !important; padding-right: 45px !important; }
.g-px-50 { padding-left: 50px !important; padding-right: 50px !important; }
.g-px-55 { padding-left: 55px !important; padding-right: 55px !important; }
.g-px-60 { padding-left: 60px !important; padding-right: 60px !important; }
.g-px-65 { padding-left: 65px !important; padding-right: 65px !important; }
.g-px-70 { padding-left: 70px !important; padding-right: 70px !important; }
.g-px-75 { padding-left: 75px !important; padding-right: 75px !important; }
.g-px-80 { padding-left: 80px !important; padding-right: 80px !important; }
.g-px-85 { padding-left: 85px !important; padding-right: 85px !important; }
.g-px-90 { padding-left: 90px !important; padding-right: 90px !important; }
.g-px-95 { padding-left: 95px !important; padding-right: 95px !important; }
.g-px-100 { padding-left: 100px !important; padding-right: 100px !important; }
/*  */
.g-py-0 { padding-top: 0 !important; padding-bottom: 0px !important; }
.g-py-5 { padding-top: 5px !important; padding-bottom: 5px !important; }
.g-py-10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.g-py-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.g-py-20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.g-py-25 { padding-top: 25px !important; padding-bottom: 25px !important; }
.g-py-30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.g-py-35 { padding-top: 35px !important; padding-bottom: 35px !important; }
.g-py-40 { padding-top: 40px !important; padding-bottom: 40px !important; }
.g-py-45 { padding-top: 45px !important; padding-bottom: 45px !important; }
.g-py-50 { padding-top: 50px !important; padding-bottom: 50px !important; }
.g-py-55 { padding-top: 55px !important; padding-bottom: 55px !important; }
.g-py-60 { padding-top: 60px !important; padding-bottom: 60px !important; }
.g-py-65 { padding-top: 65px !important; padding-bottom: 65px !important; }
.g-py-70 { padding-top: 70px !important; padding-bottom: 70px !important; }
.g-py-75 { padding-top: 75px !important; padding-bottom: 75px !important; }
.g-py-80 { padding-top: 80px !important; padding-bottom: 80px !important; }
.g-py-85 { padding-top: 85px !important; padding-bottom: 85px !important; }
.g-py-90 { padding-top: 90px !important; padding-bottom: 90px !important; }
.g-py-95 { padding-top: 95px !important; padding-bottom: 95px !important; }
.g-py-100 { padding-top: 100px !important; padding-bottom: 100px !important; }
/*  */
.g-pt-0 { padding-top: 0 !important; }
.g-pt-5 { padding-top: 5px !important; }
.g-pt-10 { padding-top: 10px !important; }
.g-pt-15 { padding-top: 15px !important; }
.g-pt-20 { padding-top: 20px !important; }
.g-pt-25 { padding-top: 25px !important; }
.g-pt-30 { padding-top: 30px !important; }
.g-pt-35 { padding-top: 35px !important; }
.g-pt-40 { padding-top: 40px !important; }
.g-pt-45 { padding-top: 45px !important; }
.g-pt-50 { padding-top: 50px !important; }
.g-pt-55 { padding-top: 55px !important; }
.g-pt-60 { padding-top: 60px !important; }
.g-pt-65 { padding-top: 65px !important; }
.g-pt-70 { padding-top: 70px !important; }
.g-pt-75 { padding-top: 75px !important; }
.g-pt-80 { padding-top: 80px !important; }
.g-pt-85 { padding-top: 85px !important; }
.g-pt-90 { padding-top: 90px !important; }
.g-pt-95 { padding-top: 95px !important; }
.g-pt-100 { padding-top: 100px !important; }
/*  */
.g-pr-0 { padding-right: 0 !important; }
.g-pr-5 { padding-right: 5px !important; }
.g-pr-10 { padding-right: 10px !important; }
.g-pr-15 { padding-right: 15px !important; }
.g-pr-20 { padding-right: 20px !important; }
.g-pr-25 { padding-right: 25px !important; }
.g-pr-30 { padding-right: 30px !important; }
.g-pr-35 { padding-right: 35px !important; }
.g-pr-40 { padding-right: 40px !important; }
.g-pr-45 { padding-right: 45px !important; }
.g-pr-50 { padding-right: 50px !important; }
.g-pr-55 { padding-right: 55px !important; }
.g-pr-60 { padding-right: 60px !important; }
.g-pr-65 { padding-right: 65px !important; }
.g-pr-70 { padding-right: 70px !important; }
.g-pr-75 { padding-right: 75px !important; }
.g-pr-80 { padding-right: 80px !important; }
.g-pr-85 { padding-right: 85px !important; }
.g-pr-90 { padding-right: 90px !important; }
.g-pr-95 { padding-right: 95px !important; }
.g-pr-100 { padding-right: 100px !important; }
/*  */
.g-pb-0 { padding-bottom: 0 !important; }
.g-pb-5 { padding-bottom: 5px !important; }
.g-pb-10 { padding-bottom: 10px !important; }
.g-pb-15 { padding-bottom: 15px !important; }
.g-pb-20 { padding-bottom: 20px !important; }
.g-pb-25 { padding-bottom: 25px !important; }
.g-pb-30 { padding-bottom: 30px !important; }
.g-pb-35 { padding-bottom: 35px !important; }
.g-pb-40 { padding-bottom: 40px !important; }
.g-pb-45 { padding-bottom: 45px !important; }
.g-pb-50 { padding-bottom: 50px !important; }
.g-pb-55 { padding-bottom: 55px !important; }
.g-pb-60 { padding-bottom: 60px !important; }
.g-pb-65 { padding-bottom: 65px !important; }
.g-pb-70 { padding-bottom: 70px !important; }
.g-pb-75 { padding-bottom: 75px !important; }
.g-pb-80 { padding-bottom: 80px !important; }
.g-pb-85 { padding-bottom: 85px !important; }
.g-pb-90 { padding-bottom: 90px !important; }
.g-pb-95 { padding-bottom: 95px !important; }
.g-pb-100 { padding-bottom: 100px !important; }
/*  */
.g-pl-0 { padding-left: 0 !important; }
.g-pl-5 { padding-left: 5px !important; }
.g-pl-10 { padding-left: 10px !important; }
.g-pl-15 { padding-left: 15px !important; }
.g-pl-20 { padding-left: 20px !important; }
.g-pl-25 { padding-left: 25px !important; }
.g-pl-30 { padding-left: 30px !important; }
.g-pl-35 { padding-left: 35px !important; }
.g-pl-40 { padding-left: 40px !important; }
.g-pl-45 { padding-left: 45px !important; }
.g-pl-50 { padding-left: 50px !important; }
.g-pl-55 { padding-left: 55px !important; }
.g-pl-60 { padding-left: 60px !important; }
.g-pl-65 { padding-left: 65px !important; }
.g-pl-70 { padding-left: 70px !important; }
.g-pl-75 { padding-left: 75px !important; }
.g-pl-80 { padding-left: 80px !important; }
.g-pl-85 { padding-left: 85px !important; }
.g-pl-90 { padding-left: 90px !important; }
.g-pl-95 { padding-left: 95px !important; }
.g-pl-100 { padding-left: 100px !important; }

/*
===================================
UTILITIES - TEXT
===================================
*/
.g-text-center {
  text-align: center !important;
}
.g-text-left {
  text-align: left !important;
}
.g-text-right {
  text-align: right !important;
}